body
{
	margin: 0;
	padding: 0;
  background-color: #83cac8;
  background-image: none;
  background-size: contain;
  color:  #364794;

}


.main{
  background-color: #fff;
  border-left: 4px solid #eb6d90;
  border-right: 4px solid #eb6d90;
}

a
{
	color: #eb6d90;
  font-weight: bold;
}

h3
{
  font-weight: bold;
}

hr
{
	border-top: 1px solid #110aff;
}

#socials
{
	padding-top: 20px;
}

/********************Games******************/
#anti-citizen-red {
  background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/2097950/header.jpg?t=1695172320");
  background-position: center -45px;
  background-size: cover;
}

#bounden {
  background-image: url("/img/screens/BoundenPlayed4.jpg");
  background-position: center -45px;
  background-size: cover;
}

#catacombs-of-solaris {
  background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1532250/header.jpg?t=1667817637");
  background-position: center -31px;
  background-size: cover;
}

#cowchess {
  background-image: url("/img/screens/cowchess.webp");
  background-position: center -85px;
  background-size: cover;
}

#dialogue-ep {
  background-image: url("https://img.itch.zone/aW1nLzEyOTM3MzU1LnBuZw==/original/pE4g1y.png");
  background-position: center -75px;
  background-size: cover;
}

#everybodys-sad {
  background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/898080/header.jpg?t=1558324299");
  background-position: center -5px;
  background-size: contain;
}

#have-you-eaten-yet {
  background-image: url("https://img.itch.zone/aW1nLzk3MzI2NDEucG5n/original/C%2BCEBE.png");
  background-position: center -20px;
  background-size: cover;
}

#johann-sebastian-joust {
  background-image: url("/img/screens/jsjoust-screenshot1.png");
  background-position: center -85px;
  background-size: cover;
}

#moving-on {
  background-image: url("https://img.itch.zone/aW1nLzEzOTYwNDIxLmdpZg==/original/KJ8%2FVJ.gif");
  background-position: center -95px;
  background-size: cover;
}

#tingus-goose {
  background-image: url("https://lh3.googleusercontent.com/TENOEuxbeLRnfrZNZAPXrRN8Cw7cCVxxbOknMEV6hQYa8n_ajMA-Aw159OeeinuWtRl4lTKRh0BueRu_tpDiejLv2MCMgib1MSXUzViNm6tns6JThALp73Tkf69STCHsmA=w1280");
  background-position: center -10px;
  background-size: contain;
}

#your-holy-virtuous-heretic {
  background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/2621030/header.jpg?t=1695982177");
  background-position: center -12px;
  background-size: cover;
}
