/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #eee;
  font-size: 1em;
  line-height: 1.4;
  background-color: #000;


}

body{
  background-image: url("https://serenade.games/img/bg.png");
  background-size: contain;
  background-repeat: repeat;
  background-size: 30%;
}

#body-dreamscapes{
  margin: 0;
  padding: 0;
  background-color: #deff00;
  background-image: url('https://i.imgur.com/xGeW1Hb.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 100%;
}

.freeplay-banner{
  width: 100%;
  height: 700px;
  background-image: url('/img/freeplay2021.jpg');
  background-position: top;
  background-size: 1900px;
  background-repeat: no-repeat;
  background-color: #9d9d9d;
}

@media only screen and (max-width: 800px) {
  .freeplay-banner{
    width: 100%;
    height: 500px;
    background-image: url('/img/freeplay2021.jpg');
    background-position: top;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-color: #9d9d9d;
  }
}

#body-freeplay-2021{
  background-image: none;
  background-color: #3d4a53;
}

a{
  color: #ebb595;
}

.game-screenshot{
  height: 170px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.game-caption p{
  text-underline: #ebb595;
}

.main{
  font-size: 1.05em;
  padding: 30px 45px 30px 45px;
  max-width: 610px;
  text-align: center;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  line-height: 1.7em;
  background-color: #000;
}

.hero-image{
  max-width: 100%;
}

.lineup{
  list-style: inside;
  padding-left: 0;
}
.lineup li{
  margin-top: 20px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

#beautycopter { background-image: url("https://cdn.akamai.steamstatic.com/steam/apps/1290200/ss_f99fa827e9cccceeef0476d2d313209f863331b6.600x338.jpg?t=1613117996");}
#bomb-dolls { background-image: url("https://img.itch.zone/aW1hZ2UvMzA5NTQ2LzI0NDI4MzgucG5n/347x500/%2Bzo39e.png");}
#cos { background-image: url("https://img.itch.zone/aW1nLzUyMjc1NTAucG5n/original/%2F6eOBA.png");}
#grass-mud-horse { background-image: url("https://img.itch.zone/aW1hZ2UvNTM2NzM2LzI3OTEwNzIuZ2lm/original/GvudtW.gif");}
#hard-lads { background-image: url("https://img.itch.zone/aW1hZ2UvNjU2MjEyLzM1MzQ5MTUuanBn/347x500/%2Bo61vv.jpg");}
#in-the-crags { background-image: url("http://inthecrags.com/images/InTheCrags_gif1.gif");}
#lucid-heist { background-image: url("https://img.itch.zone/aW1nLzQwNDQ3NTAuZ2lm/original/FeSv%2BZ.gif");}
#n4s { background-image: url("https://img.itch.zone/aW1hZ2UvMzU5ODEzLzI0MDY5MDMuZ2lm/347x500/DrtPj7.gif");}
#sludge-life { background-image: url("https://cdn2.unrealengine.com/Diesel%2Fproductv2%2Fsludge-life%2Fhome%2FEGS_SLUDGELIFE_TerriVellmannDoseone_G1A_14-1920x1080-827694bf462b9ca89865c855d49e02f28d08357b.jpg");}
#something-looks-weird { background-image: url("https://img.itch.zone/aW1hZ2UvNTg2NzQ0LzMzMjQzNjAucG5n/347x500/%2FACfDL.png");}
#offpeak-city { background-image: url("https://img.itch.zone/aW1hZ2UvNDE3NDA1LzI0MTQzMzcuanBn/347x500/ar8a%2FM.jpg");}
#umurangi { background-image: url("https://cdn.akamai.steamstatic.com/steam/apps/1223500/ss_533f5b67b93d74949d84382ca17e4780d23f64d6.600x338.jpg?t=1619427236");}
#what-comes-after { background-image: url("https://cdn.akamai.steamstatic.com/steam/apps/1421760/ss_4b1263528e7339d595c22c3bff5ee0ba30684f4b.1920x1080.jpg?t=1619250292");}
#topography { background-image: url("https://img.itch.zone/aW1nLzQ5MDUzNDEucG5n/315x250%23c/TzdqWX.png");}
#indifferent { background-image: url("https://cdn.akamai.steamstatic.com/steam/apps/1249300/ss_590bba06dc76f4853288de97d9f4ee477b5ca247.1920x1080.jpg?t=1618908025");}

#img-everybodys-sad{
  background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/898080/ss_7c112c189542d132428703daf067b4c8fbd6661f.600x338.jpg?t=1558324299");
}
#img-first-date{
  background-image: url("https://img.itch.zone/aW1hZ2UvNDkwNTYwLzI1NjkxNDkucG5n/original/nZEkPd.png");
}
#img-irori{
  background-image: url("https://img.itch.zone/aW1hZ2UvNDcxOTU1LzI0ODYyMzMuZ2lm/original/4m%2BMPd.gif");
}
#img-symposium-grief{
  background-image: url("https://img.itch.zone/aW1hZ2UvMjgzODMwLzE4MDI3MzguanBn/original/S3dl6K.jpg");
}
#img-every-brick{
  background-image: url("https://img.itch.zone/aW1hZ2UvMjEwNDUwLzk4ODkwNC5wbmc=/original/QjYGLe.png");
}

#img-wibble-wobble{
  background-image: url("https://img.itch.zone/aW1hZ2UvMTM0NTM1LzY0Mzk3MC5naWY=/original/IFfcYC.gif");
}

#img-pigeon-game{
  background-image: url("https://img.itch.zone/aW1hZ2UvMjU3OTEyLzE1Nzg2NzIuZ2lm/original/J3oBar.gif");
}

#img-ode-to-my-hometown{
  background-image: url("https://img.itch.zone/aW1hZ2UvMjYzNjc5LzEzMjkzOTkuZ2lm/347x500/QhmxID.gif");
}

#img-endless-scroll{
  background-image: url("../img/screens/endless-scroll.png");
}

#img-become{
  background-image: url("https://img.itch.zone/aW1hZ2UvNTA0MDExLzI2MTA0MTAuZ2lm/347x500/nwyuII.gif");
}

#img-am-i-making-sense{
  background-image: url("../img/screens/making-sense.png");
}

#img-compass-points{
  background-image: url("../img/screens/compass.png");
}

#img-adventure-boy{
  background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/1207380/ss_170766aa9edc0332560af90860dfba64bb7ebf1a.600x338.jpg?t=1576329804");
}

#img-a-month{
  background-image: url("../img/screens/a-month.png");
}

#img-grass-mud-horse{
  background-image: url("https://img.itch.zone/aW1hZ2UvNTM2NzM2LzI3OTEwNzIuZ2lm/original/GvudtW.gif");
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

