#body-xmas22
{
	margin: 0;
	padding: 0;
	background-image: url(../img/2022/bg.jpg);
  background-size: contain;
}

.main-xmas22
{
	/*border-left: 4px solid #c00000;*/
	/*border-right: 4px solid #c00000;*/
}

a
{
	color: #c00000;
}

h3
{
	color:#deffde;
}

hr
{
	border-top: 1px solid #7664af;
}

#socials
{
	padding-top: 20px;
}

#dialogue
{
	background-image: url("https://img.itch.zone/aW1nLzEyOTM3MzA1LnBuZw==/315x250%23c/jg9p0D.png");
	/*background-position: left top;*/
	background-size: 430px;
}

#cowchess
{
  background-image: url("https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/3444110/header.jpg?t=1749180392");
  /*background-position: left top;*/
  background-size: 495px;
}

#funnywalk
{
  background-image: url("https://img.itch.zone/aW1nLzEyNDQwMjg2LnBuZw==/315x250%23c/Yf3ecL.png");
  background-position: center -10px;
  background-size: 680px;
}

#souloftoobirdsgame
{
  background-image: url("https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2572280/header.jpg?t=1751015836");
}

#scottygoestocentrelink
{
  background-image: url("https://img.itch.zone/aW1nLzg5NzM2MDgucG5n/315x250%23c/q2T9AF.png");
  /*background-position: left top;*/
  background-size: 630px;
}

#bluesuburbia
{
  background-image: url("https://img.itch.zone/aW1nLzEyMTkzMTk4LmdpZg==/315x250%23cm/HdTQN4.gif");
  background-position: center -75px;
}

#itcomesinwaves
{
  background-image: url("https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2342980/header.jpg?t=1727883033");
  /*background-position: left top;*/
  /*background-position: left top;*/
}

#playernonplayer
{
  background-image: url("https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2175690/header.jpg?t=1712246051");
  /*background-position: left top;*/
}

#atuel
{
  background-position: center -45px;
  background-image: url("https://img.itch.zone/aW1nLzgyNDA4NzUucG5n/original/VFq%2BQ7.png");
  /*background-position: left top;*/
  background-size: 730px;
}
